head
	title= title
	link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/vendor/bootstrap/css/docs.css')
	link(rel='stylesheet', href='/vendor/webfonts/ss-pika.css')
	link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/vendor/angular/ngprogress/ngProgress.css')
	link(rel='stylesheet', href='/vendor/angular/angular-motion/dist/angular-motion.min.css')
	link(rel='stylesheet', href='/vendor/angular/ng-table/ng-table.min.css')
		
	link(rel='stylesheet', href='/stylesheets/style.css')
