.modal
	.modal-dialog
		.modal-content
			.modal-header
				div.modal-title 
					.label#modal-title Add Node
					button.close(ng-click='$hide()') x 

			.modal-body
				div.addNodePanel(ng-controller='nodeReviewCtrl')
					form(ng-submit="addNode(node)")
						div
							div(flash-alert='error', active-class='in alert', class='fade')
								span.alert-message {{flash.message}}
							div(flash-alert='success', active-class='in alert', class='fade')
								span.alert-message {{flash.message}}
						table.table
							tr 
								td
									input.medium(ng-model='node.name', placeholder='NAME', required)
		
							tr 
								td
									input.medium(ng-model='node.content', placeholder='CONTENT', required)
							tr 
								td
									input.medium(ng-model='node.type', placeholder='TYPE', required)
							tr
								td
									button.btn.btn-primary(type="submit") OK